UploadPhoto/_pHOTOuPLOAD.json
[{"id":"6d2fa4de.fc05bc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b6541d39.3c64","type":"http in","z":"6d2fa4de.fc05bc","name":"","url":"/gcvup","method":"get","swaggerDoc":"","x":117.33332824707031,"y":69.33332824707031,"wires":[["bf464cc8.bbeb2"]]},{"id":"bf464cc8.bbeb2","type":"template","z":"6d2fa4de.fc05bc","name":"form","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width;\" />\n</head>\n<body>\n<div class=\"form\">\nUpload Photo\n<form method=\"post\" action=\"gcvuploaderpost\" enctype=\"multipart/form-data\">\n<p><input type=\"file\" name=\"example5\" accept=\"image/jpeg\"></p>\n<p><input type=\"submit\"></p>\n</div>\n</form>\n</body>\n</html>","x":300.3333282470703,"y":69.33332824707031,"wires":[["f71ecdfc.22128"]]},{"id":"f71ecdfc.22128","type":"http response","z":"6d2fa4de.fc05bc","name":"","x":505.3333282470703,"y":69.33332824707031,"wires":[]}]